/* h3{
    text-align: center;
}
#btn{
    margin: 250px 550px ;
    padding: 10px;
    border-radius: 10px ;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
#btn:hover{
    color: rgb(243, 13, 48);
    border-color:blueviolet;
} */


/*-----------------------------------------------------------Second Method--------------------------------------------*/

#box{
    height: 550px;
    text-align: center;
}
#click{
    margin-top: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    user-select: none;
}
#click:hover{
    text-shadow:blue 1px 0 10px; ;
}